header, main, footer {
  text-align: center;
  padding: 20px;
}
header {
  background-color: #0078d7;
  color: white;
}
 
main {
  background-color: #f0f0f0;
}
 
footer {
  background-color: #333;
  color: white;
}
 
