services:
  reactapp:
    container_name: APICrudApp_container
    build:
      context: .
      dockerfile: ../Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./app:/usr/src/app
    working_dir: /usr/src/app
    environment:
      - NODE_ENV=development
    command: tail -f /dev/null
